<h1>hello bhaii ab</h1>



<p> <p>TITLE:</p> <br/> <%= @article.title %></p>
<p> <p>DESCRIPTION:</p>  <br/> <%= @article.description %></p>
<p> <p>Username:</p> <br/>  <%= @article.user.username if @article.user %>  </p>


<%= link_to 'Edit', edit_article_path(@article) %>
<%= button_to 'Delete', article_path(@article), method: :delete , data: { confirm: "Are you sure?"} %>
<%= link_to 'Return to article listening' , articles_path %>