<h1> Listing all categories </h1>

<table>
   <thead>

       <tr>
       <th>ID</th>
       <th>name</th>
       <th>Article's count</th>
       <th>Actions</th>  
       </tr>

   </thead> 

   <tbody>
   <%= will_paginate @categories %>
       
   <% @categories.each do |category| %>
     <tr>
       <td> <%= category.id %> </td> 
         <td><%= category.name %> </td> 
        <td> <%= pluralize(category.articles.count, "articles") %> </td>
         <td> <%= link_to "show", category_path(category) %> </td>
     </tr>
  <% end %>

   <tbody>

</table>